<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303252062652-g46l3u35dh2b4k8v8ph5ufgvt5q41034.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303252062652-g46l3u35dh2b4k8v8ph5ufgvt5q41034</string>
	<key>API_KEY</key>
	<string>AIzaSyD5K1bFfNtH8Bqbfc45FTCjFYeoZdyAH_I</string>
	<key>GCM_SENDER_ID</key>
	<string>303252062652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaiserdem.Fitness-App</string>
	<key>PROJECT_ID</key>
	<string>increment-fdd55</string>
	<key>STORAGE_BUCKET</key>
	<string>increment-fdd55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303252062652:ios:48b54ad6aab0873354ebb9</string>
</dict>
</plist>